.profile{
  max-width: 1024px;
  margin: auto;
  display: flex;
}

.profile__avatar{
  width: 168.75px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__profile-info{
  display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 425px;
    margin-left: 30px;
    align-content: center;
    gap: 22px;
}

.profile__profile_title{
  font-family: Inter;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    width: 280px;
    height: 40px;
    font-size: 36px;
    text-overflow: ellipsis;
    overflow: hidden;

}

.profile__profile_subtitle{
  font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-top: 0;
    width: 415px;
    height: 22px;
}

.profile__rectangle{
  width: 24px;
  height: 24px;
  background-color: black;
  border-color: #ffffff;
  margin-top: 15px;
}

.profile__rectangle:hover{
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.505);
}

.profile__button{
  border: 2px;
  background-color: black;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__button_vector{
  background-color: black;
  width: 150px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 1);
  margin-top: 40px;
}

.profile__button_vector:hover{
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.516);
}



@media screen and (max-width:800px) {
  .profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 20px;

  }

  .profile__button{
    width: 100%;
    margin: auto;
  }

  .profile__button_vector{
    width: 60%;
    margin: auto;
    display: block;
  }
 }

 @media screen and (max-width:480px){
  .profile{
    width: 100%;
    display: block;
  }

 }

 @media screen and (max-width:320px){
  .profile{
    display: flex;
    width: 100%;
  }

  .profile__profile_title{
    text-align: end;
    font-family: Inter;
      font-weight: 500;
      font-size: 22px;
  }

  .profile__button_vector{
    width: 94%;
  }

  .profile__profile_subtitle{
    text-align: center;
  }

 }